<h1><%=t :'index.title' %></h1>
<div style="margin-left:40px;"><%=t :'index.caption' %></div>
<br>
<center>
<%= link_to image_tag("sign_up.gif",:alt=>"Sign Up"), '/signup' %>
<br>
<br>
<%= link_to image_tag("edit_profile.gif",:alt=>"View/Edit"), '/login' %>
</center>