<h1><%=t :'index.title' %></h1>
<div style="margin-left:40px;"><%=t :'index.caption' %></div>
<br>
<br>
<center>
<%= link_to I18n.t('index.signup'), '/signup', :class => 'button' %>
<br>
<%= link_to I18n.t('index.edit'), '/login', :class => 'button' %>
</center>